.content {
  margin: 12px;
}

.input-field-box {
  display: flex;
  justify-content: space-between;
}
.clear-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #727272;
  font-weight: bolder;
}
