/* You can add global styles to this file, and also import other style files */

html,
body {
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.mat-mdc-autocomplete-panel {
  max-height: 80vh !important;
}

.mat-mdc-option,
.mat-mdc-optgroup-label {
  min-height: 32px !important;
}
